# --------------------
# OS / Editor
# --------------------
.DS_Store
.vscode/
.idea/

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
.envrc

# --------------------
# Poetry
# --------------------
.poetry/

# --------------------
# Data artifacts (DO NOT COMMIT)
# --------------------
data/
runs/

# --------------------
# Notebooks
# --------------------
notebooks/
.ipynb_checkpoints/

# --------------------
# Logs / Outputs
# --------------------
*.log
*.out

# --------------------
# Model artifacts
# --------------------
*.pkl
*.joblib
*.parquet
